body {
  font-family: 'Noto Sans Arabic', sans-serif;
  overflow-x: hidden;
}

:root {
    --main-color: #174a2e;
}

html{
  direction: rtl;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 2rem;
}

*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    outline: none;
    font-family: inherit;
}

.error-message{
  color: red;
  text-align: center;
}

button {
  cursor: pointer;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #111;
  font-size: 20px;
}