/* login.css */
:root {
    --main-color: #174a2e;
}
.login-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #f5f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-container {
  width: 100%;
  max-width: 1100px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Image Section */
.login-image-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.overlay-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.overlay-text h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.overlay-text p {
  font-size: 16px;
  opacity: 0.9;
}

/* Form Section */
.login-form-box {
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-box h2 {
  margin-bottom: 30px;
  font-size: 26px;
  color: var(--main-color);
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 8px;
  font-size: 15px;
  color: #333;
}

.input-group input {
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 5px rgba(31,91,191,0.3);
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 10px 0;
  background: #174a2e;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.login-btn:hover {
  background: #1c7e48;
}



/* No-account */
.no-account {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.no-account a {
  color: var(--main-color);
  text-decoration: underline;
}

.no-account a:hover {
  color: #1c7e48;
}

.no-active{
  background-color: #174a2e;
  cursor: no-drop;
}


/* Responsive */
@media (max-width: 900px) {
  .login-container {
    grid-template-columns: 1fr;
  }

  .login-image-box {
    height: 250px;
  }

  .overlay-text h2 {
    font-size: 22px;
  }
}

