.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
  background-color: var(--main-color);
  position: relative;
}

.navbar .logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-box img {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  object-fit: cover;
}

.user-box img:hover {
  transform: translateY(-5px) rotate(360deg);
  scale: 1.050;
}

.logout-btn {
  background-color: white;
  color: var(--main-color);
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: sans-serif;
  cursor: pointer;
  transition: all .3s ease;
  border: 2px solid #fff;
}

.logout-btn:hover {
  color: white;
  background-color: var(--main-color);
  border: 2px solid #fff;
}

.menu-icon {
  display: none;
  cursor: pointer;
}


.plus-icon {
  background: #fff;
  color: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.plus-icon:hover {
  transform: translateY(-5px);
  scale: 1.050;
}

.mobile-menu {
  position: absolute;
  top: 80px;
  right: 10px;
  background: var(--main-color);
  width: 200px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 999;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.mobile-menu .menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.mobile-menu .menu-item:hover {
  color: #ddd;
}

.mobile-menu .logout {
  background: white;
  color: var(--main-color);
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 768px) {
  .user-box {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
